@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

#shareMenu button {
    display: none;
}

img {
    width: 100%;
}

body {
    height: 100vh;
    background-color: var(--light-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: var(--very-dark-grayish-blue);
    font-family: "Manrope", sans-serif;
}

.container {
    width: 730px;
    height: 280px;
    border-radius: 15px;
    background-color: white;
    display: flex;
}

.img {
    width: 40%;
    background-image: url(./images/drawers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.text {
    width: 60%;
    position: relative;
    padding: 30px 40px;
}


article h2 {
    line-height: 24px;
    margin-bottom: 15px;
}

article p {
    line-height: 17px;
}

.author {
    margin-top: 15px;
    height: 50px;
    display: grid;
    grid-template-columns: 65px 200px auto;
    align-items: center;
}

.author .michelle {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author .michelle img {
    width: 50px;
    border-radius: 50%;
}

.author-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 45px;
}

.author-details h5 {
    width: 125px;
    font-size: 14px;
}

.author-details p {
    width: 75px;
    font-size: 13px;
    font-weight: 200;
}

.text button {
    outline: none;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--very-dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text button img {
    width: 45%;
}

#shareMenu {
    display: none;
    background-color: var(--very-dark-grayish-blue);
    width: 250px;
    height: 55px;
    border-radius: 10px;
    padding: 18px 40px;
    position: absolute;
    top: 39%;
    left: 46.3%;
    box-shadow: 0px 4px 7px 0 hsla(212, 23%, 69%, 0.699);
}

#shareMenu .share-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#shareMenu img {
    width: initial;
    cursor: pointer;
}

#shareMenu p {
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 16px;
    color: var(--grayish-blue);
}

#shareMenu .triangle {
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 21.7px solid var(--very-dark-grayish-blue);
    position: absolute;
    bottom: -50%;
    right: 50%;
    transform: translate(50%, -50%);
}

@media screen and (max-width:375px) {
    .triangle {
        display: none;
    }

    body {
        height: 100vh;
    }

    .container {
        width: 330px;
        height: fit-content;
        flex-direction: column;
    }

    .img {
        width: 100%;
        height: 200px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    .text {
        width: 100%;
    }

    article h2 {
        font-size: 15px;
    }

    article p {
        font-weight: 200;
    }

    .author .michelle {
        width: 50px;
        display: block;
    }

    .author {
        grid-template-columns: 60px 140px auto;
    }

    #shareMenu {
        width: 330px;
        height: 80px;
        top: 73%;
        left: 0;
        border-radius: 0 0 10px 10px;
    }

    #shareMenu button {
        display: block;
        background-color: var(--grayish-blue);
    }


}